doctype html 
html 
   head 
    block head 
        title Natours | #{title}
        link(rel='stylesheet' href='/css/style.css')
        link(rel='shortcut icon' type='image/png' href='/image/favicon.png')
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        script(src='/js/bundled/index.js' defer)

   body 
    // HEADER
    include _header
    
    // CONTENT
    block content 
        h1 This is a placeholder heading

    // FOOTER
    include _footer
            
    //- h1= tour 
    //- h2= user.toUpperCase()
    //- //- h1 The Park Camper 

    //- - const x = 9 
    //- //- Unbuffered code = executed, but not shown in the output
    //- h2= 2*x 
    //- //- Buffered code = executed and shown in the output
    //- p This is just some text
